.white-text {
    color: white;
}

.footer {
    height: 100px;
}

.m-top-20 {
    margin-top: 20px;
}

.m-top-30 {
    margin-top: 30px;
}

.m-top-130 {
    margin-top: 130px;
}

.m-left-350 {
    margin-left: 350px;
}

.m-bot-15 {
    margin-bottom: 15px;
}

.m-left-15 {
    margin-left: 15px;
}

.m-left-10 {
    margin-left: 10px;
}

.m-left-25 {
    margin-left: 25px;
}

.m-left-20 {
    margin-left: 20px;
}

.font-30 {
    font-size: 30px;
}

.font-20 {
    font-size: 20px;
}

.font-10 {
    font-size: 10px;
}

.font-15 {
    font-size: 15px;
}

.m-top-15 {
    margin-top: 15px;
}

.m-top-10 {
    margin-top: 10px;
}

.no-margin {
    margin: 0px;
}

.size-inherit {
    width: 100%;
    height: 100%;
}

.m-top-5 {
    margin-top: 5px;
}

.f-right {
    float: right;
}

.m-top-30 {
    margin-top: 30px;
}

.hidden {
    display: none;
}

.m-top-50 {
    margin-top: 50px;
}

.m-right-100 {
    margin-right: 100px;
}

.m-left-260 {
    margin-left: 260px;
}

.light-grey-text {
    color: rgb(163, 163, 163);
}

.bg-light-green {
    background-color: rgb(129, 204, 129);
}

.solid-text {
    font-weight: 600;
}

.bg-white {
    background-color: white;
}

.d-space-between {
    display: flex;
    justify-content: space-between;
}

.d-center-horizontally {
    display: flex;
    justify-content: center;
}